.login-page-container{
  height: 95vh;
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page-wrapper{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 55rem;
  height: 28rem;
  box-shadow: var(--main-shadow);
}
