
.welcome {
  text-align: justify;
}

.registerPageContainer{
  height: 95vh;
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerPageWrapper{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 55rem;
  height: 28rem;
  box-shadow: var(--main-shadow);
}


/* Media Querys */
@media (max-width: 768px) {
  .registerPageContainer {
    padding: 5px;
  }

}


@media (max-width: 500px) {

    .contenedor {
      margin-bottom: 90px;
    }

    .registerPageContainer {
      padding: 5px;
    }

    .registerPageWrapper {
      flex-direction: column;
      width: 30rem;
      height: 50rem;
    }
}