.welcome {
  text-align: justify;
}

h1 {
  margin: 0;
  padding: 0;
}

.logo {
  margin-bottom: 1.5rem;
}

.welcome-title {
  font-weight: 500;
}

.welcome-title-alkybank {
  font-size: 42px;
}

.welcome-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-span{
  margin-top: 2rem;
}