.welcome {
  text-align: justify;
}

h1 {
  margin: 0;
  padding: 0;
}

.logo {
  margin-bottom: 1.5rem;
}

.welcomeTitle {
  font-weight: 500;
  font-size: 2em;
  
}

.welcomeTitleAlkybank {
  font-size: 42px;
}

.welcomeContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcomeSpan{
  margin-top: 2rem;
}


@media (max-width: 500px) {
  .welcomeContainer {
    height: 120px;
    margin-top: 70px;
  }
  
  .welcomeSpan {
    margin: 0;
    text-align: center;
  }

}

