.layout {
  display: flex;
  width: 100%;
  background-color: var(--light-mode-bg);
}

.pageContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - 283px);
}

.cardsContainer {
  padding: 10px 34px;
}