.ha2 {
  text-align: center;
  font-weight: 500;
}

.loginBtn {
  margin-top: 1.5rem;
}

.labels {
  margin-bottom: 3px;
}

.label {
  font-size: 15px;
}

.form {
  width: 120%;
}

.loginTitle {
  text-align: center;
  margin-left: 32px;
}

.inputs {
  background-color: #f2f2f2;
  border: none;
  height: 1.5rem;
  width: 98%;
}

.formInputs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.loginFooter {
  margin-top: 1rem;
  text-align: center;
}

.signupLink {
  text-decoration: none;
  color: var(--light-mode-text);
}

.loginFooter > span {
  font-size: 14px;
}
