@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  font-family: 'DM Sans', sans-serif;
  --main-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --dark-mode-el: (209, 23%, 22%);
  --dark-mode-text: black;
  --light-mode-bg: #F6F6F6;
  --light-mode-el: white;
  --light-mode-text: white;
  --light-blue: #58C1F5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}