.container {
    height: calc(100%-42px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-mode-bg);
}

.wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10rem);
    flex-direction: column;
    gap: 3rem;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.2rem;
    box-shadow: var(--main-shadow);
    height: 25rem;
    width: 30rem;
}


.userWrapper {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14rem;
    text-align: center;
    gap: 4rem;
    padding: 4rem;
    height: 26rem;
    margin-right: 2rem;
}

.userWrapper span {
    font-size: 25px;
    word-wrap: break-word;
    width: 20rem;
}

.title {
    display: flex;
    margin-left: 5rem;
    height: 42px;
    background-color: var(--light-mode-bg);
}

h1 {
    position: absolute;
    margin-top: 2rem;
}

select {
    background-color: #F2F2F2;
    border: none;
    height: 1.8rem;
    width: 24.4rem;
    border: 1px solid black;
}

input {
    background-color: #F2F2F2;
    border: none;
    height: 1.8rem;
    width: 24rem;
    border: 1px solid black;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputDiv {
    display: flex;
    flex-direction: column;
}

.inputDiv label {
    margin-bottom: 6px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

button {
    width: 12rem;
    background-color: var(--primary-btn-color);
    color: var(--light-mode-el);
    font-weight: bold;
    border: none;
    outline: none;
    padding: 8px 10px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-text-stroke: 0.3px transparent;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-btn-color-hover);
    -webkit-text-stroke: 0.3px #000;
}